.about__section-img {
    border-radius: 50%;
    overflow: hidden;
    transform: skew(15deg);
    transition: var(--transition);
}

.about__section-img:hover {
    transform: skew(0);
}



.about__story-container,
.mission__container {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
}

.vision__container {
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 10%;
}

.about__section-content h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.about__section-content p {
    font-size: 1rem;
    line-height: 2rem;
}


/* MEDIUM DEVICES */


@media screen and (max-width: 1024px) {
    .about__section-img {
        width: 60%;
    }

    .about__story-container,
    .mission__container
     {
        grid-template-columns: 1fr;
        gap: 7%;
        margin-top: -5rem;

    }

    .vision__container{
        grid-template-columns: 1fr;
        margin-top: -4rem;
    }

    .about__section-img{
        grid-row: 1;
        transform: skew(0);
        margin: 0.5rem auto;

    }


}

/* SMALL DEVICES */

@media screen and(max-width: 600px) {
    .about__section-img{
        width: 100%;
        margin-inline: auto;
    }
}