.about__wrapper {
    margin: 0 2rem;
}

.about__story {
    width: full;
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    height: min-content;
}

.about__section-img {
    overflow: hidden;
    border-radius: 100%;
}

.about__section-content h2 {
    margin-bottom: 1rem;
}


.vision__story {
    width: full;
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    height: min-content;
}

.vision__section-img {
    overflow: hidden;
    border-radius: 100%;
    width: 55vw;
    height: 55vh;
}



.vision__section-content h2 {
    margin-bottom: 1rem;
}



.mission__story {
    width: full;
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    height: min-content;
}

.mission__section-img {
    overflow: hidden;
    border-radius: 100%;
}

.mission__section-content h2 {
    margin-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
    .about__story {
        display: block;
    }

    .vision__story {
        display: block;
    }

    .mission__story {
        display: block;
    }

    .vision__section-img {
        width: 100%;
        height: 100%;
    }

    .about__section-img {
        display: none;
    }

    .mission__section-img {
        display: none;
    }
        .vision__section-img{
            display: none;
        }
}